* {
  box-sizing: border-box;
}
.user_page {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.user_profile_container {
  height: 30rem;
  width: 25rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}
.username {
  font-size: 1.2rem !important;
}
.user_profile_pic {
  height: 30.3rem;
  width: 10rem;
  border-radius: 75px;
  cursor: pointer;
}
.view_user_profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 727px;
  width: auto;
}
.view_userinfo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  cursor: pointer;
  flex-direction: column;
}
.submit_btn {
  padding: 8px 10px;
}
.skills {
  height: 100%;
  width: 200px;
}
.followbox {
  cursor: pointer;
}
