.main_div {
  overflow: hidden;
}

.header_div {
  max-width: 50rem;
}

.btn_prim {
  padding: 7px 20px;
  font-weight: bold;
  letter-spacing: 1px;
  border-width: 2px;
}

.heading_primary {
}
.para_primary {
  color: #6e6d6d;
  font-family: var(--font-logo);
  /* font-weight: 600; */
}

.lines {
  position: relative;
  width: 100%;
}

.lines_left {
  left: -5rem;
  transform: rotate(208deg);
}
.lines_right {
  transform: rotate(-208deg);
  left: 5rem;
}

.line1 {
  height: 4rem;
  border: 1px solid white;
  background-color: var(--color-primary);
}

.carousel_div {
  border: 3px solid #666666;
  box-shadow: 3px 7px 10px 0px grey;
  height: 23rem;
  border-radius: 1rem;
  width: 45%;
  background: white;
  margin: auto;
  z-index: 100;
  position: relative;
  top: -5rem;
}
