.nav_div {
  padding: 1rem 0;
  box-shadow: #666e6e 0px 0px 4px 0px;
}

.logo {
  font-size: 27px;
  letter-spacing: 2px;
  font-weight: bold;
  color: var(--font-color);
  font-family: var(--font-logo);
}

.btn_prim {
  padding: 6px 20px;
}
