.formc {
  display: inline;
  width: 60%;
  margin-right: 6px;
}
.main_div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.display_div {
  width: 68%;
}

.sub_div {
  align-items: center;
  justify-content: center;
}
