.main_div {
  /* border: 1px solid #d3d3d3;
  border-radius: 6px; */
}
.content {
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  padding: 10px;
}
.form_div {
  width: 50%;
}
.display_div {
  width: 60%;
  margin: auto;
}
.submit_btn {
  padding: 8px 10px;
  width: 15rem;
}
