:root {
  /* --color-primary: #8400fd; */
  --color-primary: #2596be;
  /* --color-primary-light: #a440ff; */
  --color-close: #ff7c7c;
  --color-primary-light: #57d2d4;
  --color-link: #2853cb;
  --font-primary: "Open Sans", sans-serif;
  --color-text-primary: #169193;
  /* --font-primary:'Nanum Gothic Coding', monospace; */
  /* --font-logo: 'Nanum Gothic Coding', monospace; */
  --font-logo: "Open Sans", sans-serif;
  --font-color: #131a4c;
}
